<h3>Add a car:</h3>
<form [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
    <h5 *ngIf="success" class="success">Your car was added</h5>
    <label>
        ID:
        <input type="number" formControlName="id">
        <div *ngIf="submitted && addCarForm.controls.id.errors" class="error">
            <div *ngIf="addCarForm.controls.id.errors.required">id is required</div>
        </div>
    </label>

    <label>
      Plate Number:
      <input type="text" formControlName="plateNumber">
      <div *ngIf="submitted && addCarForm.controls.plateNumber.errors" class="error">
        <div *ngIf="addCarForm.controls.plateNumber.errors.required">Plate number is required</div>
      </div>
    </label>

    <label>
      Brand:
      <input type="text" formControlName="brand">
      <div *ngIf="submitted && addCarForm.controls.brand.errors" class="error">
        <div *ngIf="addCarForm.controls.brand.errors.required">Brand is required</div>
      </div>
    </label>
    <label>
      Price:
      <input type="number" formControlName="price">
      <div *ngIf="submitted && addCarForm.controls.price.errors" class="error">
        <div *ngIf="addCarForm.controls.price.errors.required">Price is required</div>
      </div>
    </label>
    <input type="submit" value="Add Car" class="cta">
</form>

<div *ngIf="submitted" class="results">
    <strong>ID:</strong>
    <span>{{ addCarForm.controls.id.value }}</span>
    <strong>Plate Number:</strong>
    <span>{{ addCarForm.controls.plateNumber.value }}</span>
    <strong>Brand:</strong>
    <span>{{ addCarForm.controls.brand.value }}</span>
    <strong>Price:</strong>
    <span>{{ addCarForm.controls.price.value }}</span>
</div>
