<header>
    <div class="container">
        <a routerLink="/" class="logo">Car rental</a>
        <nav>
            <ul>
                <li><a routerLink="/">Cars</a></li>
                <li><a routerLink="/addCar">Add Car</a></li>
            </ul>
        </nav>
    </div>
</header>

