header {
    background: #7700FF;
}

.logo {
    font-weight: bold;
}

nav {
    justify-self: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
}

nav ul li a:hover {
    background: #8E2BFF;
}

